
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.navbar {
    background-color: #081D2E;
}

.card-body {
    height: 240pt;
    /* text-decoration: none; */
}

.footer-bottom{
	width: 100%;
	padding: 25px 0;
	text-align: center;
    background-color:#0C1D2E;
}

.btn-email {
    background: #BA55D3;
    border-color: #BA55D3;
}

.btn-linkedin {
    background: #8A2BE2;
    border-color: #8A2BE2;
}

.btn-github {
    background: #9400D3;
    border-color: #9400D3;
}

.btn-twitter {
    background: #800080;
    border-color: #800080;
}

.btn-medium {
    background: #4B0082;
    border-color: #4B0082;
}

.link_button {
  position: absolute;
  bottom: 15pt;
  right: 0;
  left: 0;
  margin: auto;
}

.projectFilter a {
  font-size: x-large;
  margin-right: 5px;
  margin-left: 5px;
  color:#081D2E;
  text-decoration:none;
}

.projectFilter a.current {
    font-weight: bold;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.icon  {
    text-decoration: none;
    /* transition: all 0.3s; */
    color: #0C1D2E
}

.icon i {
    transition: all 0.3s;
}

.icon:hover i {
    transform: scale(1.2);
    color: #db3262
}

/* .icon-linkedin {
    color: #8A2BE2;
}

.icon-medium {
    color: hotpink;
}

.icon-medium:hover{
    color: pink;
}

.icon-email {
    color: greenyellow;
} */


 .card-title {
    text-decoration: none;
    color: #0C1D2E
}
/* .card-title {
    transition: all 0.3s;
}

.card-title:hover {
    transform: scale(1.05);
    color: #4B0082
} */
.link-style{
    cursor: pointer;
}
/* will this make the card scale? */
.card {
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.055);
    /* color: #4B0082 */
}

.txtb {
    width: 25%;
    text-align-last:center;
    font-size: 23px;
    border: 1px solid gray;
    padding: 10;
    margin: 30 30;
    border-radius: 20px;
}

/* .txtb label:before{
    content: "\f007";
    font-family: "fontAwesome";
    color : #0C1D2E;
} */

.txtb label{
    display: block;
    /* text-align: left; */
    text-align: absolute;
    font-weight: bold;
    text-transform: uppercase;
}

.txtb input, .txtb textarea{
    width: 70%;
    border: none;
    background: #f7f9fc;
    outline: gray;
    font-size: 23px;
    margin: 4 2;
}

.btn{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #f7f9fc;
    width: 250px;
    height: 50px;
}
.btn:hover {
    color: #db3262;
    transform: scale(1.1);
}
